@page "{id:int}"
@using MySuperStats.WebUI.Pages
@model MySuperStats.WebUI.Pages.ChangeMatchGroupNameModel
@{
    ViewData["Title"] = "Yeni Karşılaşma Grubu Oluştur";
}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Karşılaşma Grubunun ismini değiştir</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="txtGroupName">Grup İsmi</label>
              <input type="text" class="form-control" id="txtGroupName" asp-for="MatchGroupRequest.GroupName" placeholder="Grup ismi giriniz">
              <span asp-validation-for="MatchGroupRequest.GroupName" class="text-danger"></span>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <input type="submit" id="btnChangeGroupName" asp-page-handler="ChangeGroupName"  class="btn btn-primary" value="Grup ismini değiştir"/>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
    <div>
  </div>  
</section>
<!-- /.content -->