@page
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
@model ErrorModel
@{
    ViewData["Title"] = "Hata oluştu";
}

<div style="margin-left: 20px;">
    <h1 class="text-danger">İşlem sırasında bir hata oluştu.</h2>
    <h2 class="text-danger">@(Model.ExceptionMessage)</h2>

@{
    string referer = httpContextAccessor.HttpContext.Request.Headers["Referer"].ToString();
    Uri baseUri = new Uri(referer);
}

</div>