@page
@using CustomFramework.WebApiUtils.Contracts.Resources

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
@inject ILocalizationService localizer

@model LogoutModel
@{
    ViewData["Title"] = localizer.GetValue("Logout");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;    
}

<section class="content">
      <div class="row">
    <div class="col-md-12">
      <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
    <div>
  </div>  
</section>
<!-- /.content -->
