@page "{id:int}"
@using MySuperStats.WebUI.Pages
@model MySuperStats.WebUI.Pages.MatchGroupDetailModel
@{
    ViewData["Title"] = "Karşılaşma Grubu Bilgileri";
}

<script>
  $(function () {
    $('#basketball_players').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
</script>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="box-body">
            <div class="form-group">
              <label>Grup İsmi</label>
              <p class="text-muted">
                @(Model.MatchGroupResponse.GroupName)
              </p>
            </div>
          </div>
          <!-- /.box-body -->

          @if(Model.HasPermissionForChangeGroupName)
          {
          <div class="box-footer">
            <input type="submit" id="btnChangeGroupName" asp-page-handler="ChangeGroupName"  class="btn btn-primary" value="Grup ismini değiştir"/>
          </div>
          }
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->

    <!-- right column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="box-body">
            <div class="form-group">
              <table id="basketball_players" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Ad Soyad</th>
                </tr>
                </thead>
                <tbody>
                   @foreach (var player in Model.Players)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@player.Id">@($"{player.FirstName} {player.Surname}")</a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                <tr>
                  <th>Ad Soyad</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
          @if(Model.HasPermissionForAddUser)
          {
              <div class="box-footer">
                <input type="submit" id="btnAddUserToMatchGroup" asp-page-handler="AddUserToMatchGroup"  class="btn btn-primary" value="Kullanıcı Ekle"/>
              </div>
          }
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->