@page
@model MySuperStats.WebUI.Pages.UserProfileModel
@{
    ViewData["Title"] = "Kullanıcı Bilgileri";
}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Profilim</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="txtFirstName">İsim</label>
              <p class="text-muted">
                @(Model.UserInfo.FirstName)
              </p>              
            </div>
            <div class="form-group">
              <label for="txtSurname">Soyisim</label>
              <p class="text-muted">
                @(Model.UserInfo.Surname)
              </p> 
            </div>
            <div class="form-group">
              <label for="txtSurname">E-Posta</label>
              <p class="text-muted">
                @(Model.UserInfo.Email)
              </p> 
            </div>            
            <div class="form-group">
              <label for="txtBirthDate">Doğum Tarihi</label>
              <div class="input-group date">
                <p class="text-muted">
                  @(Model.UserInfo.BirthDate.ToShortDateString())
                </p> 
              </div>              
            </div>            
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <input type="submit" id="btnUpdateProfile" asp-page-handler="UpdateUserProfile"  class="btn btn-primary" value="Profilimi Güncelle"/>            
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->