@page
@model ForgotPasswordConfirmation
@using MySuperStats.WebUI.Utils
@{
    ViewData["Title"] = @AppConstants.ForgotPasswordConfirmation;
    Layout = "_LoginLayout";
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
    <div class="register-box-body">
        <p>
            @AppConstants.PleaseCheckYourEmail
        </p>
    </div>
</div>

