@page "{culture}"
@model ForgotPasswordConfirmation
@using MySuperStats.WebUI.Utils
@using CustomFramework.BaseWebApi.Resources
@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Forgot password confirmation");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;    
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <p>
                @(localizer.GetValue("Please check your e-mail"))
            </p>
        </div>
    </div>
</div>