@page "{culture}"
@model LockoutModel
@using CustomFramework.WebApiUtils.Contracts.Resources

@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Locked out");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;  
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@(localizer.GetValue("This account has been locked out, please try again later"))</p>
</header>
