@page "{culture}"
@model LogoutModel
@using CustomFramework.WebApiUtils.Contracts.Resources

@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Logout");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;  
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@(localizer.GetValue("You have successfully logged out of the application"))</p>
</header>