@page "{culture}"
@model RegisterConfirmationModel
@using MySuperStats.WebUI.Utils
@using CustomFramework.BaseWebApi.Resources
@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Confirmation of registration");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;  
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <p>
                @(localizer.GetValue("Please check your e-mail for completing registration"))
            </p>
        </div>
    </div>    
</div>