@page "{culture}"
@model ResetPasswordConfirmationModel
@using MySuperStats.WebUI.Utils
@using CustomFramework.BaseWebApi.Resources
@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Confirmation of reset password");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;    
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <p>
                @(localizer.GetValue("Your password has been resetted")) 
                <br>
                <a asp-page="./Login" asp-route-culture="@culture">@(localizer.GetValue("Please click here to login"))</a>.
            </p>
        </div>
    </div>      
</div>
