@page
@model ResetPasswordConfirmationModel
@using MySuperStats.WebUI.Utils
@{
    ViewData["Title"] = @AppConstants.ResetPassword;
    Layout = "_LoginLayout";
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
    <div class="register-box-body">
        <p>
            @AppConstants.YourPasswordHasBeenReset <a asp-page="./Login">@AppConstants.PleaseClickHereToLogIn</a>.
        </p>
    </div>
</div>
