@page "{culture}"
@model ResetPasswordConfirmationModel
@using MySuperStats.WebUI.Utils
@using CustomFramework.WebApiUtils.Contracts.Resources

@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Confirmation of reset password");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;    
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
    <div class="register-box-body">
        <p>
            @(localizer.GetValue("Your password has been resetted")) <a asp-page="./Login" asp-route-culture="@culture">@(localizer.GetValue("Please click here to login"))</a>.
        </p>
    </div>
</div>
