<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@ViewData["Title"]</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/lib/admin-lte/plugins/fontawesome-free/css/all.min.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="~lib/admin-lte/plugins/daterangepicker/daterangepicker.css">    
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="~/lib/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <!-- jQuery -->
  <script src="~/lib/admin-lte/plugins/jquery/jquery.min.js"></script>
  
  <!-- Bootstrap 4 -->
  <script src="~/lib/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="~/lib/admin-lte/dist/js/adminlte.min.js"></script>
  <!-- InputMask -->
  <script src="~/lib/admin-lte/plugins/moment/moment.min.js"></script> 
  <script src="~/lib/admin-lte/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
  <!-- daterangepicker -->
  <script src="~/lib/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>

</head>
<body class="hold-transition login-page">
    @RenderBody()

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

<script>
  $(function () {
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    $('[data-mask]').inputmask()
  });
</script>

@RenderSection("Scripts", required: false)
</body>
</html>
